.AboutContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 75%;

    margin-left: auto;
    margin-right: auto;

    margin-top: 200px;
}

.socialsContainer{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.socialsRow{
    display: inline-flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 40px;
}

.textContainer{
    padding-left: 50px;
    max-width: 60%;
}

.about_Profile_Image{
    max-width: 30%;
}

h3{
    color: #728170;
    font-size: 2.5rem;
}

p2{
    color: #728170;
    font-size: 1.2rem;
}

@media (max-width: 1150px) {

    p2{
        font-size: 1.8rem;
    }

    h3{
        text-align: center;
    }

    .AboutContainer{
        max-width: 60%;
        justify-content: center;
    }

    .textContainer{
        padding-left: 0px;
        max-width: 100%;
        
    }

    .about_Profile_Image{
        max-width: 100%;
    }
}
