.AboutContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 75%;

    margin-left: auto;
    margin-right: auto;

    margin-top: 300px;
}

.socialsContainer{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.textContainer{
    padding-left: 50px;
    max-width: 60%;
}

.about_Profile_Image{
    max-width: 30%;
}

h3{
    color: #728170;
    font-size: 2.7rem;
}

p2{
    color: #728170;
    font-size: 1.5rem;
}