.Gameart-Grid{
    max-width: 100%;
    margin-top: 200px;
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
}

.image-Item{
    max-width: 70%;
}

.image-item-grid{
    max-width: 49%;
}