body{
    font-family: "Libre Baskerville", sans-serif;
    background-color: #ffff;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
}

#navBar{
    background-color: #6B7C6A;

    display: flex;
    justify-content: left;
    align-items: center;

    width: 100%;
    height: 125px;
    gap: 50px;

    top: 0px;

    padding-left: 50px;
    position: fixed;
    transition: top 0.3s;
}

.navBarItems{
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: 50px;

    gap: 25px;
}

.navBarButtons{
    background: none;
    border: none;
}

#galleryButtons{
    color: #455852;
    font-size: 2rem;

    background: none;
    border: none;
}

#galleryButtons:hover{
    color: #1B3738;
    text-decoration: underline;
}

.subNavbar{
    display: flex;
    justify-content: center;

    gap: 10px;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color: #ffff;

    justify-content: center;
    max-width: 90%;
    max-height: 100%;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;

    gap: 50px;
}

.rowItem{
    max-width: 20%;
}

.rowItemWide{
    max-width: 40%;
}

h{
    color: #455852;
    font-size: 3rem;
}

h1{
    color: #ffff;
    font-size: 2rem;
}

p{
    color: #455852;
    font-size: 2rem;
}

p1{
    color: #ffff;
    font-size: 1.5rem;
}
